{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block body %}

<section class="home-section">
    <div class="row">
        <div class="col-md firstcol">
            <div class="container">
                <div class="homethumbnail">
                    <div class="thumbnail-banner"></div>
                    <div class="thumbnail-profile d-flex justify-content-between">
                        <div class="profile-content d-flex">
                            <div class="profile-pic">
                                <img src="/static/assets/img/profile-pic.jpg" alt="">
                            </div>
                            <div class="profile-text">
                                <div class="profile-name d-flex">{{fullname}}<i class="bx bx-edit"></i></div>
                                <div class="profile-coins d-flex align-items-center">
                                    <i class="bx bxl-bitcoin"></i>
                                    {{coins}} Coins
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homesearchtab">
                    <ul class="nav justify-content-between">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">All</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Transfers</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Exchange</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Edits</a>
                          </li>
                      </ul>
                </div>
                <div class="hometrashlist">
                    <div class="activitybox d-flex justify-content-between align-items-center" id="">
                        <div class="activity-detail d-flex align-items-center">
                            <div class="activity-thumb d-flex align-items-center justify-content-center" id="transfer">
                                <i class="bx bx-transfer-alt"></i>
                            </div>
                            <div class="activity-text">
                                <div class="activity-name">Exchange 10.000 Coins</div>
                                <div class="activity-coin">20 mins ago</div>
                            </div>
                        </div>
                    </div>
                    <div class="activitybox d-flex justify-content-between align-items-center" id="">
                        <div class="activity-detail d-flex align-items-center">
                            <div class="activity-thumb d-flex align-items-center justify-content-center" id="receive">
                                <i class="bx bx-coin"></i>
                            </div>
                            <div class="activity-text">
                                <div class="activity-name">Receive 8.000 Coins</div>
                                <div class="activity-coin">1 hour ago</div>
                            </div>
                        </div>
                    </div>
                    <div class="activitybox d-flex justify-content-between align-items-center" id="">
                        <div class="activity-detail d-flex align-items-center">
                            <div class="activity-thumb d-flex align-items-center justify-content-center" id="receive">
                                <i class="bx bx-coin"></i>
                            </div>
                            <div class="activity-text">
                                <div class="activity-name">Receive 2.000 Coins</div>
                                <div class="activity-coin">9 hours ago</div>
                            </div>
                        </div>
                    </div>
                    <div class="activitybox d-flex justify-content-between align-items-center" id="">
                        <div class="activity-detail d-flex align-items-center">
                            <div class="activity-thumb d-flex align-items-center justify-content-center" id="transfer">
                                <i class="bx bx-transfer-alt"></i>
                            </div>
                            <div class="activity-text">
                                <div class="activity-name">Exchange 60.000 Coins</div>
                                <div class="activity-coin">3 days ago</div>
                            </div>
                        </div>
                    </div>
                    <div class="activitybox d-flex justify-content-between align-items-center" id="">
                        <div class="activity-detail d-flex align-items-center">
                            <div class="activity-thumb d-flex align-items-center justify-content-center" id="receive">
                                <i class="bx bx-coin"></i>
                            </div>
                            <div class="activity-text">
                                <div class="activity-name">Receive 8.000 Coins</div>
                                <div class="activity-coin">1 hour ago</div>
                            </div>
                        </div>
                    </div>
                    <div class="activitybox d-flex justify-content-between align-items-center" id="">
                        <div class="activity-detail d-flex align-items-center">
                            <div class="activity-thumb d-flex align-items-center justify-content-center" id="transfer">
                                <i class="bx bx-transfer-alt"></i>
                            </div>
                            <div class="activity-text">
                                <div class="activity-name">Exchange 60.000 Coins</div>
                                <div class="activity-coin">3 days ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 secondcol fixed">
            <div class="container">
                <div class="recent-act d-flex justify-content-between align-items-center">
                    <div class="recent-title">Recent Activity</div>
                    <div class="recent-viewmore">View More</div>
                </div>
                <div class="activity-list">
                    <div class="activitybox d-flex justify-content-between align-items-center" id="">
                        <div class="activity-detail d-flex align-items-center">
                            <div class="activity-thumb d-flex align-items-center justify-content-center" id="transfer">
                                <i class="bx bx-transfer-alt"></i>
                            </div>
                            <div class="activity-text">
                                <div class="activity-name">Exchange 10.000 Coins</div>
                                <div class="activity-coin">20 mins ago</div>
                            </div>
                        </div>
                    </div>
                    <div class="activitybox d-flex justify-content-between align-items-center" id="">
                        <div class="activity-detail d-flex align-items-center">
                            <div class="activity-thumb d-flex align-items-center justify-content-center" id="receive">
                                <i class="bx bx-coin"></i>
                            </div>
                            <div class="activity-text">
                                <div class="activity-name">Receive 8.000 Coins</div>
                                <div class="activity-coin">1 hour ago</div>
                            </div>
                        </div>
                    </div>
                    <div class="activitybox d-flex justify-content-between align-items-center" id="">
                        <div class="activity-detail d-flex align-items-center">
                            <div class="activity-thumb d-flex align-items-center justify-content-center" id="receive">
                                <i class="bx bx-coin"></i>
                            </div>
                            <div class="activity-text">
                                <div class="activity-name">Receive 2.000 Coins</div>
                                <div class="activity-coin">9 hours ago</div>
                            </div>
                        </div>
                    </div>
                    <div class="activitybox d-flex justify-content-between align-items-center" id="">
                        <div class="activity-detail d-flex align-items-center">
                            <div class="activity-thumb d-flex align-items-center justify-content-center" id="transfer">
                                <i class="bx bx-transfer-alt"></i>
                            </div>
                            <div class="activity-text">
                                <div class="activity-name">Exchange 60.000 Coins</div>
                                <div class="activity-coin">3 days ago</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}