
<div class="sidebar">
    <div class="logo-details">
        <img class="logo-img icon" src="/static/assets/img/logo1.svg" />
        <div class="logo_name">Pikitup</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
        <li>
        <a href="/">
            <i class='bx bx-grid-alt'></i>
            <span class="links_name">Dashboard</span>
        </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li>
        <a href="/mybag">
            <i class='bx bx-shopping-bag'></i>
            <span class="links_name">My Bag</span>
        </a>
        <span class="tooltip">My Bag</span>
        </li>
        <li>
        <a href="/mycoins">
            <i class='bx bx-coin-stack'></i>
            <span class="links_name">My Coins</span>
        </a>
        <span class="tooltip">My Coins</span>
        </li>
        <li>
        <a href="/history">
            <i class='bx bx-history'></i>
            <span class="links_name">History</span>
        </a>
        <span class="tooltip">History</span>
        </li>
        <li>
        <a href="/settings">
            <i class='bx bx-cog'></i>
            <span class="links_name">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
        </li>
        <li class="profile">
            <div class="profile-details">
              <a href="/logout">
                  <i class='bx bx-log-out' id="log_out"></i>
              </a>
            </div>
        </li>
    </ul>
</div>